@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: linear-gradient( #e6a919,#f7c552);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.frame {
    height: 95vh;
    background: #fff;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    text-transform: uppercase;
    font-size: 3rem;
    margin: 40px auto;
}
.select {
    width: 100%;
    text-align: right;
    margin: 20px 30px 40px 0;
}
#filter-select {
    font-size: 1.2rem;
    font-weight: 800;
    color: #c9379d;
    padding: 8px 15px;
    outline: none;
}
.todo-input {
    font-size: 1.8rem;
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid;
}
.button {
    font-size: 1.2rem;
    padding: 5px;
    color: #c9379d;
    font-weight: 800;
    border-radius: 3px;
    border: 1px solid #63114a;
    background: #fff;
    margin-left: 10px;
}
.button:hover {
    background: #63114a;
    color: #fff;
}
.works {
    margin-top: 30px;
}
.todoDiv {
    display: flex;
    margin: 15px;
    list-style-type: none;
}
.todoLi {
    font-size: 2rem;
    flex: 1;
    margin-right: 5px;
}
.check-btn,
.trash-btn {
    font-size: 1.5rem;
    padding: 8px;
    color: #fff;
    border: none;
}
.trash-btn { background:#c9379d; padding:8px 10px;}
.check-btn {background: rgba(12, 150, 115, 0.623);}
.complete {
    text-decoration: line-through;
    opacity: 0.5;
}

@media only screen and (max-width:560px) {
    .frame {
        width: 80%;
    }
    .header {
        font-size: 2rem;
    }
    #filter-select {
        padding: 4px 8px;
        font-size: 1rem;
    }
    .todo-input  {
        font-size: 1rem;
    }
    .button {
        font-size: 0.9rem;
        margin-left: 3px;
        padding: 2px;
    }
}